div.head{
  width: 100%;
  height: 10%;
}

td.head{
  font-size:25pt;
}

td.head:hover{
  background-color: #00e7ff47;
  
}

table.border{
  border-top:0;
  border-bottom:0;
  border-left:0;
  border-right:0;
  width: inherit;
  text-align: center;
}
     
img#gp1 {
    position: relative;
    width: 50%;
    left: 25%;
    top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

iframe#vid{
  position:relative;
  aspect-ratio: 16/9;
  left:25%;
  padding-top: 4%;
  padding-bottom: 4%;
  
}

img#gp2 {
  position:absolute;
  width:35%;
  height:35%;
  right:100px;
  top:1000px;
}

 a.head:link{color:#FFFFFF; text-decoration:none;}
 a.head:visited{color:#FFFFFF; text-decoration:none;}
 a.head:hover{color:#FFFFFF; text-decoration:none;}
 a.head:active{color:#FFFFFF  ; text-decoration:none;} 
 
 a.downloadLink:link{color:#00D0FF;}
 a.downloadLink:visited{color:#00D0FF;}

.title{
  font-size:1000%;
  color: white;
  font-family: sans-serif;
}

.abgame{
  font-size:30;
  color: white;
}

body{
  background-color: black;
  overflow-x: hidden;
}

div#title{
  height:auto;
  background-color:#04ff0057;
  margin-top:3px;
  padding-bottom: 1%;
  
}

.font{
  color: white;
  font-family: sans-serif;
}
h1{
font-size:50;}


div#grapes{
  position: relative;
  background-color:#00e7ff30;
  top:10%;
  color: white;
}
