td.head{
	font-size:25pt;
	border:3;
}

td.head:hover{
	font-size:30pt;
	background-color:orange;
	
}

table.border{
	border-top:0;
	border-bottom:0;
	border-left:0;
	border-right:0;
}

img#youtube{
	position:fixed;
	right:15px;
	top:0px;
	border: 0;
	order:top;
}

img#gp1 {
  position:absolute;
  width:35%;
  height:35%;
  left:100px;
  top:1000px;
}

iframe#vid{
  position:absolute;
  top:1400;
  left:35%;
  
}

img#gp2 {
  position:absolute;
  width:35%;
  height:35%;
  right:100px;
  top:1000px;
}

img#ra1 {
  position:absolute;
  width:300px;
  height:300px;
  left:900px;
  top:10
 400px;
}

img#ra2 {
  position:absolute;
  width:300px;
  height:300px;
  left:100px;
  top:10
 400px;
}

img#sb1 {
  position:absolute;
  width:300px;
  height:150px;
  left:30px;
  top:600;
}

img#sb2 {
  position:absolute;
  width:300px;
  height:300px;
  right:30px;
  top:550;
}

img#la1{
		position:absolute;
  width:300px;
  height:300px;
  right:30px;
  top:550;
}

img#la2{
		position:absolute;
  width:300px;
  height:300px;
  left:30px;
  top:550;
}

img#ar1{
  position:absolute;
  width:300px;
  height:300px;
  left:30px;
  top:550;
}

img#ar2{
  position:absolute;
  width:350px;
  height:300px;
  right:30px;
  top:550;
}

img#ar3{
  position:absolute;
  width:350px;
  height:300px;
  right:30px;
  top:1700;
}

div.head{
	height:70px;
	background-color:#86da56;
	margin:0em;
	border:0em;
	
}
a.head:link{color:#000000; text-decoration:none;}
a.head:visited{color:#000000; text-decoration:none;}
a.head:hover{color:#000000; text-decoration:none;}
a.head:active{color:#00000; text-decoration:none;}

.title{
	font-size:1000%;
	font-family:comic sans Ms;
}

.abgame{
  font-size:50;
	font-family:comic sans Ms;
  
}

body{
	background-color:#8bbefc;
}
div#title{
	height:700px;
	background-color:#dc8bfc;
	margin-top:3px;
	
}
.font{
	font-family:comic sans ms;
}
h1{
font-size:50;}

div#air{
	background-color:#bdbdbd;
}

#sub{
	background-color: tan;
}
div#grapes{
  width: 100%;
  position: absolute;
	background-color:#9e2987;
  top:1800;
}

div#sour{
	background-color:gray;
	border:10;
	height:400;
}

div#info 1{
	background-color:8bbefc;
	border:10;
	height:400;
  top:2000;
}

.fs{
	font-size:20;
}

p.punchline{
  opacity: 0;
}

p.punchline:hover{
	 opacity: 1;
}
table

